{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
{% block content %}
<body class="body">

    {%if sorteo_principal%}
    <section class="premio">
        <div class="premio-container">
            <div class="premio-imagen">
                <img src="{{ sorteo_principal.prize_picture.url}}" alt="{{sorteo_principal.title}}">
            </div>
            <div class="premio-info">
                <h2>{{sorteo_principal.title}}</h2>
                <div class="premio-botones">
                    <a href="{% url 'detalle_sorteo' sorteo_principal.id %}" id='btn-comprar' class="btn-comprar" data-sorteo-id='{{sorteo_principal.id}}'>Comprar 🎟️</a>
                    <a class="btn-ver-boletos">Ver mis tickets comprados</a>
                    <div class="boletos-vendidos">
                        <h3>Boletos vendidos</h3>
                        <div class="progress-bar">
                            <div class="progress" style="width: {{ sorteo_principal.percentage_sold }}%; " data-progress="{{ sorteo_principal.percentage_sold}}%;"></div>
                            <span class="progress-text">{{Porcentaje_vendido}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="estado-sorteo">
        <div class="cuenta-regresiva">
            <div>
                <p>Gana Con Saak</h3>
                <p>|</p>
            </div>
            <div>
                <div class="social-links">
                    <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </section>
     
    {% if otros_sorteos %}
    <section class="sorteos-anteriores">
        <h2>Sorteos Anteriores</h2>
        <div class="cards-container">
          {% for sorteo in otros_sorteos %}
          <a href="{% url 'detalle_sorteo' sorteo.id %}">

            <div class="card" onclick="location.href='detalles_sorteo.html'">
              <img src="/static/images/moto.jpg" alt="Sorteo 1">
              <div class="text-card">
                <h3>{{sorteo.title}}</h3>
                <p>AGOTADO ° 26 june 2025</p>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
    </section> 
     {% endif %}

    <section class="pre-footer">
        <h3>¿Qué estás espertando para participar en el próximo sorteo?</h3>
        <button class="btn-comprar-pfooter" onclick="document.getElementById('btn-comprar').scrollIntoView({ behavior: 'smooth'});">Comprar Boletos Ahora</button>
    </section>

    {% endblock content %}
</html>