{% extends "base.html" %}
{% load static %}

{% block content %}
    {%if sorteo_principal%}
    <section class="premio">
        <div class="premio-container">
            <div class="premio-imagen">
                <img src="{{ sorteo_principal.prize_picture.url}}" alt="{{sorteo_principal.title}}">
            </div>
            <div class="premio-info">
                <h2>{{sorteo_principal.title}}</h2>
                <div class="premio-botones">
                    <a href="{% url 'detalle_sorteo' sorteo_principal.id %}" id='btn-comprar' class="btn-comprar">Comprar 🎟️</a>
                    <button type="button" class="btn-ver-boletos" data-bs-toggle="modal" data-bs-target="#findTicketsModal">Ver mis tickets comprados</button>
                    <div class="boletos-vendidos">
                        <h3>Boletos vendidos</h3>
                        <div class="progress-bar">
                            <div class="progress" style="width: {{ sorteo_principal.percentage_sold }}%; " data-progress="{{ sorteo_principal.percentage_sold}}%;"></div>
                            <span class="progress-text">{{ sorteo_principal.percentage_sold }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="estado-sorteo">
        <div class="cuenta-regresiva">
            <div>
                <img src="{% static 'images/logo_medio.png' %}" alt="Gana Con Sakk" class="countdown-logo">
                <p>|</p>
            </div>
            <div>
                <div class="social-links">
                    <a href="https://www.tiktok.com/@gana.con.sakk?_t=ZM-8yvSlob8AUA&_r=1" aria-label="Tiktok"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/ganaconsakk/profilecard/?igsh=MWxrY3Mza2prNmxuaQ==" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </section>
     
    {% if otros_sorteos %}
    <section class="sorteos-anteriores">
        <h2>Otros Sorteos</h2>
        <div class="cards-container">
            {% for sorteo in otros_sorteos %}
            <a href="{% url 'detalle_sorteo' sorteo.id %}" class="card-link">
                <div class="card">
                    <img src="{{ sorteo.prize_picture.url }}" alt="{{ sorteo.title }}">
                    <div class="text-card">
                        <h3>{{ sorteo.title }}</h3>
                        <p>{{ sorteo.get_state_display|upper }} &bull; {{ sorteo.date_lottery|date:"d M Y" }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- Paginación -->
        {% if otros_sorteos.has_other_pages %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if otros_sorteos.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ otros_sorteos.previous_page_number }}">Anterior</a></li>
                {% endif %}
                
                <li class="page-item active" aria-current="page">
                    <span class="page-link">Página {{ otros_sorteos.number }} de {{ otros_sorteos.paginator.num_pages }}</span>
                </li>

                {% if otros_sorteos.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ otros_sorteos.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ otros_sorteos.paginator.num_pages }}">Última &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </section> 
     {% endif %}

    <section class="pre-footer">
        <h3>¿Qué estás esperando para participar en el próximo sorteo?</h3>
        <button class="btn-comprar-pfooter" onclick="document.getElementById('btn-comprar').scrollIntoView({ behavior: 'smooth' });">Comprar Boletos Ahora</button>
    </section>

    <div class="modal fade" id="findTicketsModal" tabindex="-1" aria-labelledby="findTicketsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="findTicketsModalLabel">Consulta tus Boletos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="findTicketsForm" action="{% url 'find_my_tickets' %}" method="POST" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                <label for="ticketIdentifier" class="form-label">Ingresa tu Cédula o Correo Electrónico</label>
                <input type="text" class="form-control" id="ticketIdentifier" name="identifier" required placeholder="Ej: 12345678 o correo@ejemplo.com">
              </div>
              <button type="submit" class="btn btn-primary w-100">Buscar mis Boletos</button>
            </form>
            <div id="ticketResults" class="mt-4">

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/ticket_finder.js' %}"></script>
{% endblock extra_js %}
